include README
include MANIFEST.in
include setup.py
include distro.bat
include install.bat
include install.cfg
include epydoc.cfg
include setup.cfg
include test.py
include winappdbg.hhp
include doc/Makefile
include doc/make.bat
include doc/source/conf.py
include doc/source/*.rst
include doc/source/_static/*
include doc/source/_templates/*
include examples/instrumentation/*.py
include examples/debugging/*.py
include examples/helpers/*.py
include examples/win32_api_wrappers/*.py
include examples/miscellaneous/*.py
include tools/*.py
include tools/example.cfg
include winappdbg/*.py
include winappdbg/plugins/*.py
include winappdbg/plugins/README
include winappdbg/win32/*.py
