include README
include doc/*
include doc/source/*
include doc/source/_static/*
include doc/source/_templates/*
include examples/instrumentation/*.py
include examples/debugging/*.py
include examples/win32_api_wrappers/*.py
include examples/miscellaneous/*.py
