# Optional dependencies
# To install them all: pip install -r requirements.txt

# For disassembly
capstone
#distorm3
#BeaEnginePython

# For database support
sqlalchemy
sqlite3

# For MongoDB support
pymongo

# Improved regular expression parsing
regex
