# Sphinx to generate the docs
Sphinx

# For disassembly
capstone
distorm3
BeaEnginePython

# For database support
sqlalchemy
sqlite3

# Improved regular expression parsing
regex

# TOML parser for pyproject.toml
toml; python_version < "3.11"
