name: Release new Winappdbg version

on:
  release:
    types: [ published ]

jobs:
  release_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build wheel
        run: |
          python -m pip install build
          python -m build .
      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
